@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');


 /* :root{
  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
  
  
  .home-page {
    max-width: 120px;
    margin: 0 auto;
    padding: 30px;
    
 
  }
  
  header {
    background-color: black;
    border-radius: 20%;
    padding: -41px 0px 51px 0px;
    margin-bottom: 35px;
    border: 6px solid black;
    box-shadow: 1px 2px 11px 6px white;
    
  }     */

  .container {

    max-width: 2000px;

  }
  
  .container img {

    max-width: 100%;
    max-height: 1200px;
    margin-top: 0px;
  }


  .btn_shadow{
    padding: 18px 25px;
    border-radius: 8px;
    transition: 0.5s all ease;
    cursor: pointer;
    margin-bottom: 15px;
    border: 2px solid yellow;
    
  }
  .btn_shadow{
    /* background: linear-gradient(185deg, lightpink, red);
    box-shadow: 11px 14px 11px black, 21px -1px 10px black; */
    background: linear-gradient(292deg, lightsalmon, red);
    box-shadow: 2px 3px 1px white, 11px 11px 3px black;
  }
  .btn_shadow:hover {
    background:red;
    transform: translateY(-8px);
  
  }
  
  
  .button_shadow{
    padding: 18px 25px;
    border-radius: 8px;
    transition: 0.5s all ease;
    cursor: pointer;
    margin-bottom: 15px;
    
  }
  .button_shadow{
    background: linear-gradient(462deg, yellow, red);
    box-shadow: 3px 3px 1px white, 9px 8px 1px black;
  }
  .button_shadow:hover {
    transform: translateY(-6px);
  }
  

@media (max-width: 800px) {

    header ul {
        padding: 30px;
        
    }
    .nav-links-mobile {
        position: absolute;
        display: block;
        list-style: none;
        box-shadow: black 0 20px 100px -60px, black 0 30px 60px -30px;
        left: 0;
        top: 0;
        transition: all 0.5s ease-in-out;
        width: 60%;
        height: 100vh;
        background-color: lightpink;   
         
    
    }
    header ul li {
        width: 100%;
        margin-top: -45px;
        margin-left: 5px;
        transition: 0.5s;
        text-transform: uppercase;
        
        
    }

    .feature {
      text-align: center;
      padding: 20px;
      border: 4px solid black;
      box-shadow: 3px 2px 6px 4px white;
      margin-right: 25px;
      border-radius: 11px;

      
    }


}

